#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.task-input {
  padding: 10px 15px;

  border: none;
  border-radius: 999999px;
}

.task-list {
  padding: 0;
  
  list-style-type: none;
}

.task-list li {
  margin-bottom: 10px;

  background-color: #333;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
