<main>
  <form action="/add" method="POST">
    <div>
      <label for="titulo">Título</label>
      <input type="text" name="titulo" id="titulo" minlength="2" maxlength="255" required> 
    </div>
    <div>
      <label for="conteudo">Conteúdo</label>
      <textarea name="conteudo" id="conteudo" minlength="2" maxlength="257" required></textarea>
    </div>

    <button type="submit">Cadastrar Postagem</button>
  </form>
</main>