body {
    background-color: #3e3f49;
    color: #fff;
}
main {
    margin: 0 auto;
}

form {
    display: flex;
    justify-content: center;

    margin-top: 1em;
}

input {
    padding: 10px;
    border-radius: 25px;
}

button {
    padding: 10px;
    border-radius: 25px;
}